@inherits AgendaComponent
@inject IStringLocalizer<LocalizedStrings> Loc

@if (PlayDates == null)
{
    <p><em>@Loc["Loading"]...</em></p>
}
else
{
    <div class="card border-dark" style="max-width: 35rem;">
        <div class="card-header">
            <img src="css/bootstrap/icons/calendar.svg" alt="calendar" class="icon" />
            @Loc["Agenda"]
        </div>

        <!-- Only show next date on smaller devices -->
        <div class="card-body d-sm-none">
            @if (NextPlayDate != null)
            {
                <p class="card-text">
                    @Loc["The next dart date is"] @NextPlayDate.Date.ToString("d MMMM").
                    @if (!string.IsNullOrWhiteSpace(NextPlayDate.Comments))
                    {
                        <br />  
                        <i>@NextPlayDate.Comments</i>
                    }
                </p>
                
                <NavLink href="#" @onclick="ToggleFullAgendaOnSmallDevice">@(IsFullAgendaVisibleOnSmallDevice ? Loc["Less"] : Loc["More"])...</NavLink>
            }
            else
            {
                <p class="card-text">
                    @Loc["No new dart date has been planned."]
                </p>
            }
        </div>

        @if (PlayDates.Any())
        {
            <!-- Show all dates on larger devices. Show on small devices when IsFullAgendaVisibleOnSmallDevice is true. -->
            <ul class="list-group @(IsFullAgendaVisibleOnSmallDevice ? "" : "d-none d-sm-block")">
                @foreach (var playDate in PlayDates)
                {
                    <li class="list-group-item d-flexalign-items-center @(playDate.Date.Date == NextPlayDate?.Date.Date ? "active" : "")">
                        @playDate.Date.ToString("d MMMM yyyy")
                        @if (!string.IsNullOrWhiteSpace(playDate.Comments))
                        {
                            <br />  
                            <i>@playDate.Comments</i>
                        }
                    </li>

                }
            </ul>
        }
        else
        {
            <div class="card-body d-none d-sm-block">
                <p class="card-text">
                    @Loc["No new dart date has been planned."]
                </p>
            </div>
        }
    </div>
}