@inherits PlayerInfoComponent
@inject IStringLocalizer<LocalizedStrings> Loc

<div class="card border-dark" style="max-width: 35rem;">
    <div class="card-header">
        <img src="css/bootstrap/icons/person-fill.svg" alt="person" class="icon" />
        @Loc["Player Info"]
    </div>
    <div class="card-body">
        @if (SelectedPlayer != null)
        {
            <p class="card-text">
                <table class="table table-hover" style="max-width: 500px;">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">
                                <img src="css/bootstrap/icons/trophy.svg" alt="trophy" class="icon" style="height: 1.5em;" />
                            </th>
                            <th scope="col">@Loc["Player"]</th>
                            <th scope="col" width="15%">@Loc["PlayedGames_Short"]</th>
                            <th scope="col" width="15%">@Loc["Won_Short"]</th>
                            <th scope="col" width="15%">@Loc["Lost_Short"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <span class="badge badge-primary badge-pill">@SelectedPlayer.Position</span>
                            </th>
                            <td>@SelectedPlayer.Name (@SelectedPlayer.Id)</td>
                            <td>@SelectedPlayer.NumberOfGamesPlayed</td>
                            <td>@SelectedPlayer.TotalPointsWon</td>
                            <td>@SelectedPlayer.TotalPointsLost</td>
                        </tr>
                    </tbody>
                </table>

                <NavLink href="players">@Loc["More"]...</NavLink>
            </p>
        }
        else
        {
            <p class="card-text">
                @Loc["To see player information here. Go to"] <NavLink href="players">@Loc["Players"], </NavLink>@Loc["select a player and click on the save button."]
            </p>
        }
    </div>
</div>