@page "/dartsoverview"
@inherits DartsOverviewPage
@inject IStringLocalizer<LocalizedStrings> Loc

<h3 class="pageTitle">@Loc["Darts Overview"]</h3>

<div class="row">

    @if (DartOverviewScore == null)
    {
        <p><em>@Loc["Loading"]...</em></p>
    }
    else
    {
        if (DartOverviewScore.Any())
        {
            <div class="col-12">
                <a id="print-link" class="float-right" href="@Config.Value.DataEndpoint/dart-overview.pdf">@Loc["Print Darts Overview"]</a>
            </div>

            <div id="section-to-print">
                <div id="qr" class="d-none d-print-block">
                    <img src="images/qr.png" alt="qr"/>
                    <span>https://dvonna.azurewebsites.net/</span>
                </div>

                <table id="dartOverview" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="playerId">&nbsp;</th>
                            <th scope="col" class="playerName">&nbsp;</th>
                            @foreach (var item in DartOverviewScore)
                            {
                                <th scope="col" class="score">@item.PlayerId</th>
                            }
                            <th scope="col">@Loc["Won"]</th>
                            <th scope="col">@Loc["Played"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in DartOverviewScore)
                        {
                        <tr>
                            <th scope="row">@item.PlayerId</th>
                            <th scope="row">@item.PlayerName</th>
                            @foreach (var pointsWon in item.PointsWonAgainstOtherPlayer)
                            {
                                @if (pointsWon.Key == item.PlayerId)
                                {
                                    <td class="bg-light">&nbsp;</td>
                                }
                                else
                                {
                                    <td>@pointsWon.Value</td>
                                }
                            }
                            <td>@item.PointsWon</td>
                            <td>@item.NumberOfGamesPlayed</td>
                        </tr>
                        }
                        <tr>
                            <th scope="row">&nbsp;</th>
                            <th scope="row">@Loc["Lost"]</th>
                            @foreach (var item in DartOverviewScore)
                            {
                                <td>@item.PointsLost</td>
                            }
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>@Loc["No darts overview available yet."]</p>
        }
    }
</div>
