@page "/games"
@inherits GamesPage
@inject IStringLocalizer<LocalizedStrings> Loc

<h3>@Loc["Games"]</h3>


<div class="row">

    @if (PlayedGamesImages == null)
    {
        <p><em>@Loc["Loading"]...</em></p>
    }
    else
    {
        if (PlayedGamesImages.Any())
        {
            <div id="played-games" class="list-group-flush col-sm col-md-3">
                @foreach (var playedGameImage in PlayedGamesImages)
                {
                    <a href="@GetFullImageUri(playedGameImage)" 
                       target="_blank" class="list-group-item">
                        @playedGameImage.Date.ToString("d MMMM yyyy")
                    </a>
                }
            </div>
        }
        else
        {
            <p>@Loc["There are no games uploaded yet."]</p>
        }
    }
</div>