@page "/players"
@inherits PlayerOverviewPage

@if (Players == null)
{
    <p><em>@Loc["Loading"]...</em></p>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success @(PlayerSavedMessageVisible ? "d-block" : "d-none")" role="alert">
                @PlayerSavedMessage
            </div>

            <div class="card border-dark">
                <div class="card-header">
                    <EditForm Model="Players">
                        <div class="input-group">
                            <img src="css/bootstrap/icons/person-fill.svg" alt="person" class="icon" style="height: 2.75em;" />
                            <InputSelect id="player" class="form-control" aria-label="List of players" @bind-Value="@SelectedPlayerId">
                                <option selected="">-- @Loc["Select player"] --</option>
                                @foreach (var player in Players)
                                    {
                                    <option value="@player.Id">@player.Name</option>
                                    }
                            </InputSelect>
                            <div class="input-group-append">
                                <span class="input-group-text" title="@Loc["Save selected player"]" aria-label="@Loc["Save selected player"]" @onclick="SaveSelectedPlayer">
                                    <img src="css/bootstrap/icons/save2-fill.svg" alt="save" class="icon" />
                                </span>
                            </div>
                        </div>
                    </EditForm>
                </div>


                <div class="card-body">
                    <p class="card-text">
                        @if (@SelectedPlayer != null)
                        {
                            <table class="table table-hover" style="max-width: 500px;">
                                <thead>
                                    <tr>
                                        <th scope="col" width="15%">
                                            <img src="css/bootstrap/icons/trophy.svg" alt="trophy" class="icon" style="height: 1.5em;" />
                                        </th>
                                        <th scope="col">@Loc["Player"]</th>
                                        <th scope="col" width="15%">@Loc["PlayedGames_Short"]</th>
                                        <th scope="col" width="15%">@Loc["Won_Short"]</th>
                                        <th scope="col" width="15%">@Loc["Lost_Short"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <span class="badge badge-primary badge-pill">@SelectedPlayer.Position</span>
                                        </th>
                                        <td>@SelectedPlayer.Name (@SelectedPlayer.Id)</td>
                                        <td>@SelectedPlayer.NumberOfGamesPlayed</td>
                                        <td>@SelectedPlayer.TotalPointsWon</td>
                                        <td>@SelectedPlayer.TotalPointsLost</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else if (!Players.Any())
                        {
                            @Loc["There are no players."]
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>


    @if (@SelectedPlayer != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header">
                        @Loc["Opponents to play"]
                    </div>
                    <div class="card-body">
                        @if (SelectedPlayer.OpponentToPlay.Any())
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (var opponent in SelectedPlayer.OpponentToPlay.OrderBy(o => o.Name))
                                {
                                    <li class="list-group-item d-flexalign-items-center">@opponent.Name (@opponent.Id)</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p class="card-text">
                                @Loc["No more opponents to play."]
                            </p>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header">
                        @Loc["Played games"]
                    </div>
                    <div class="card-body">
                        @if (SelectedPlayer.PlayedGames.Any())
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">@Loc["Opponent"]</th>
                                        <th scope="col" width="15%">@Loc["Won_Short"]</th>
                                        <th scope="col" width="15%">@Loc["Lost_Short"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var playedGame in SelectedPlayer.PlayedGames.OrderBy(g => g.Opponent.Name))
                                    {
                                        <tr>
                                            <td>@playedGame.Opponent.Name (@playedGame.Opponent.Id)</td>
                                            <td>@playedGame.PointsWon</td>
                                            <td>@playedGame.PointsLost</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="card-text">
                                @Loc["No games played yet."]
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
