@page "/players"
@inherits PlayerOverviewPage

@if (Players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card border-dark">
                <div class="card-header">
                    <EditForm Model="Players">
                        <div class="input-group">
                            <img src="css/bootstrap/icons/person-fill.svg" alt="person" class="icon" style="height: 2.75em;" />
                            <InputSelect id="player" class="form-control" aria-label="List of players" @bind-Value="@SelectedPlayerId">
                                <option selected="">-- Select player --</option>
                                @foreach (var player in Players)
                                    {
                                    <option value="@player.Key">@player.Value.Name</option>
                                    }
                            </InputSelect>
                            <div class="input-group-append">
                                <span class="input-group-text" title="Save selected player" aria-label="Save selected player" @onclick="SaveSelectedPlayer">
                                    <img src="css/bootstrap/icons/archive-fill.svg" alt="calendar" class="icon" />
                                </span>
                            </div>
                        </div>
                    </EditForm>
                </div>


                <div class="card-body">
                    <p class="card-text">
                        @if (@SelectedPlayer != null)
                        {
                            <table class="table table-hover" style="max-width: 500px;">
                                <thead>
                                    <tr>
                                        <th scope="col" width="15%">
                                            <img src="css/bootstrap/icons/trophy.svg" alt="trophy" class="icon" style="height: 1.5em;" />
                                        </th>
                                        <th scope="col">Player</th>
                                        <th scope="col" width="15%">W</th>
                                        <th scope="col" width="15%">L</th>
                                        <th scope="col" width="15%">G</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <span class="badge badge-primary badge-pill">@SelectedPlayer.Position</span>
                                        </th>
                                        <td>@SelectedPlayer.Name (@SelectedPlayer.Id)</td>
                                        <td>@SelectedPlayer.PointsWon</td>
                                        <td>@SelectedPlayer.PointsLost</td>
                                        <td>@SelectedPlayer.NumberOfGamesPlayed</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>


    @if (@SelectedPlayer != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header">
                        Games to play
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header">
                        Played games
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}
