@page "/score"
@inherits ScoreOverviewPage

<div class="row">
    <h3 class="pageTitle">Tussenstand</h3>

    @if (Score == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        if (Score.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Speler</th>
                        <th scope="col">V</th>
                        <th scope="col">T</th>
                        <th scope="col">G</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playerScore in Score)
                    {
                    <tr>
                        <th scope="row">
                            <span class="badge badge-primary badge-pill">@playerScore.Position</span>
                        </th>
                        <td>@playerScore.Name (@playerScore.Id)</td>
                        <td>@playerScore.PointsWon</td>
                        <td>@playerScore.PointsLost</td>
                        <td>@playerScore.NumberOfGamesPlayed</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Er is nog geen tussenstand bekend.</p>
        }
    }
</div>
