@page "/score"
@inherits ScoreOverviewPage

<h3 class="pageTitle">Score</h3>

<div class="row">

    @if (Score == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        if (Score.Any())
        {
            <table class="table table-hover" style="max-width: 500px;">
                <thead>
                    <tr>
                        <th scope="col" width="15%">
                            <img src="css/bootstrap/icons/trophy.svg" alt="trophy" class="icon" style="height: 1.5em;" />
                        </th>
                        <th scope="col">Player</th>
                        <th scope="col" width="15%">W</th>
                        <th scope="col" width="15%">L</th>
                        <th scope="col" width="15%">G</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playerScore in Score)
                    {
                        <tr>
                            <th scope="row">
                                <span class="badge badge-primary badge-pill">@playerScore.Position</span>
                            </th>
                            <td>@playerScore.Name (@playerScore.Id)</td>
                            <td>@playerScore.PointsWon</td>
                            <td>@playerScore.PointsLost</td>
                            <td>@playerScore.NumberOfGamesPlayed</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Er is nog geen tussenstand bekend.</p>
        }
    }
</div>
