@inject IStringLocalizer<LocalizedStrings> Loc

<nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">dvOnna</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">@Loc["Home"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="score">@Loc["Score"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="players">@Loc["Players"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dartsoverview">@Loc["Darts Overview"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="games">@Loc["Games"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="messages">@Loc["Messages"]</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
